<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 well container">
    <h1 align="center">Showing details for: <%= @user.name %></h1>
    <div class="col-md-4 col-md-offset-4 center">
      <%= gravatar_for @user, size: 150 %> 
    </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <!--<th>Name</th>-->
          <th>Email</th>
          <th>Created at</th>
          <th colspan="1"></th>
          <th>Updated at</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <!--<td><%#= @user.name %></td>-->
        <td><%= @user.email%></td>
        <td><%= @user.created_at.strftime("%d. %B. %Y.") %></td>
        <td><%= time_ago_in_words(@user.created_at) %> ago </td>
        <td><%= @user.updated_at.strftime("%d. %B. %Y.") %></td>
        <td><%= time_ago_in_words(@user.updated_at) %> ago </td>
      </tbody>
    </table>
    <% if logged_in? %>  
      <%= link_to 'Back', users_path, class: "btn btn-primary" %> |
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success" %> |
      <%= link_to 'Destroy', @user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% if @user.admin? %>
        | <div class="btn btn-success"> You are an administrator! </div>
      <% end %>  
     <% end %>
   </div> 
</div>