<%= render "shared/errors", obj:  @prax %>

<div class="row">
    <div class="col-xs-12">
        <%= form_for(@prax, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-xs-2"><%= f.label :Od %></div>
                <div class="col-xs-4">
                    <%= f.text_field :from, class: "form-control", placeholder: "Od", autofocus: true %>
                </div>
                <div class="control-label col-xs-2"><%= f.label :Do %></div>
                <div class="col-xs-4">
                    <%= f.text_field :till, class: "form-control", placeholder: "Do", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-xs-2">
                    <%= f.label :Zamestnávateľ %>
                </div>
                <div class="col-xs-4">
                    <%= f.text_field :company, class: "form-control", placeholder: "Zamesnávateľ" %>
                </div>
                <div class="control-label col-xs-2">
                    <%= f.label :Odvetvie %>
                </div>
                <div class="col-xs-4">
                    <%= f.text_field :company_text, class: "form-control", placeholder: "Odvetvie, činnosť" %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-xs-2">
                    <%= f.label :Pozícia %>
                </div>
                <div class="col-xs-10">
                    <%= f.text_field :title, class: "form-control", placeholder: "Pozícia", autofocus: true %>
                </div>
            </div>    
            <div class="form-group">
                <div class="control-label col-xs-2">
                    <%= f.label :Činnosť  %>
                </div>
                <div class="col-xs-10">
                    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Popis pozície" %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-xs-2">
                    <%= f.label :Pozitívá  %>
                </div>
                <div class="col-xs-10">
                    <%= f.text_area :positiv, rows: 10, class: "form-control", placeholder: "Pozitívá" %>
                </div>
            </div>
            
            
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <%= f.submit class: "btn btn-primary btn-lg" %>
                </div>
            </div>
    <% end %>
    </div>
    <div class="col-xs-offset-4 col-xs-4">
        <%= link_to "Spať na zamestnania", praxes_path %>
    </div>
</div>