<!--<h1 align="center">Práca</h1>-->

<% @prax.each do |prx| %>
<div class="list-group well">
    <div class="oddo">
        <%= link_to prx.from.strftime("%B %Y"), prax_path(prx) %> 
        -
        <%= link_to prx.till.strftime("%B %Y"), prax_path(prx) %>
    </div>
    <div><%= link_to prx.title, prax_path(prx), class: "prax_title" %></div> 
    <div><%= truncate(prx.description, length: 50) %></div>
    <div><%= link_to prx.company, prax_path(prx), class: "prx_txt" %></div>
    
    <div class="praxos">
        <%= link_to 'Ukáž', prax_path(prx), class: "btn btn-success" %>
        <% if logged_in? && current_user.admin? %>
            <%= link_to 'Uprav', edit_prax_path(prx), class: "btn btn-primary" %>
            <%= link_to 'Zmaž',prax_path(prx), method: :delete, 
            data: {Confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% end %>     
    </div>
</div>    
<% end %> 
<% if logged_in? && current_user.admin? %>
<p>
    <%= link_to "Nové zamestanie", new_prax_path, class: "btn btn-primary" %>
</p>
<% end %>