<div class="jumbotron">
    <div class="row">
        <div class="col-xs-4">
            <%= image_tag('Tibor/Tibor_CV.jpg', :class => "about", :height => 250, :alt => 'Tibor_about') %>
        </div>
        <div class="col-xs-8">
            <h1 align="center">Vývojový inžinier</h1>
            <h2 align="center">Ešte predtým ako si začneš čítať môj životopis ti odporučám 
            pozrieť si <%= link_to "projekty", project_path, class: 'remove'  %> na ktorých pracujem</h2>
            <h3 align="left"> Pár slov o mne: </h3>
            <ul class="list-group">
                <li class="list-group-item transparent no-border">
                    <i class="fa fa-cog"></i> 
                    Všetko má byť tak jednoduché ako sa len dá ale nie viac. 
                    Je myšlienka ktorá sa mi páči a snažím sa konať v jej duchu. 
                </li>
                <li class="list-group-item transparent no-border">
                    <i class="fa fa-cog"></i> 
                    Viem, že skutočný pokrok sa deje mimo komfortnú zónu.
                </li>
                <li class="list-group-item transparent no-border">
                     <i class="fa fa-cog"></i> 
                     Rád by som zdôraznil, že skutky sú pre mňa omnoho dôležitejšie ako akékoľvek slová.
                </li>
                <li class="list-group-item transparent no-border">
                     <i class="fa fa-cog"></i> 
                     A ešte mám aj 12 ROKOV praxe a strašne rád sa bavím.
                </li>
            </ul>
            
            
        </div>
    </div>
</div>


<ul class="nav nav-pills nav-justified">
    <li role="presnetation"><a href="#work">Práca</a></li>
    <li role="presnetation"><a href="#study">Vzdelanie</a></li>
    <li role="presnetation"><a href="#knowledge">Znalosti a iné</a></li>
    <li role="presnetation"><a href="#hobby">Hobby</a></li>
    <li></li>
</ul>

<div class="container">
    <section id="work">
        <%= render 'work' %>
        <div class="btn btn-success"><%= link_to "TOP", praxes_path(anchor: "top") %></div>
    </section>
    <section id="study">
        <%= render 'study' %>
        <div class="btn btn-success"><%= link_to "TOP", praxes_path(anchor: "top") %></div>
    </section>
    <section id="knowledge">
        <%= render 'knowledge' %>
        <div class="btn btn-success"><%= link_to "TOP", praxes_path(anchor: "top") %></li>
    </section>
     <section id="hobby">
        <%= render 'hobby' %>
        <div class="btn btn-success"><%= link_to "TOP", praxes_path(anchor: "top") %></div>
    </section>
</div>
    


