<h1> Dalšie zamestnanie </h1>

<% if @prax.errors.any? %>
<h3> The following errors preventing the job from getting created</h3>
<ul>
    <% @prax.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>


<%= form_for @prax do |f| %>
    <p>
        <%= f.label :od %>
        <%= f.text_field :from %>
    </p>
    <p>
        <%= f.label :do %>
        <%= f.text_field :till %>
    </p>
    <p>
        <%= f.label :pozícia %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :Činnosť %>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.label :Zamestnávateľ %>
        <%= f.text_field :company %>
    </p>
    <p>
        <%= f.label :Druh_práce %>
        <%= f.text_field :job %>
    </p>
    <p>
        <%= f.label :Sektor %>
        <%= f.text_field :sector%>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
<%= link_to "Spať na zamestnania", praxes_path %>