<!--<h1 align="center"> Zobrazenie zamestnania</h1>-->

<div class="well">
    <div class="centre title row">
        <div class="col-xs-4">
            <div class="oddo"> <%= @prax.from.strftime("%B %Y") %>
            &emsp; - &emsp; 
            <%= @prax.till.strftime("%B %Y") %></div>
            <div class="nazov"> Pracovná pozíca: </div> 
            <div class="prx_name"> <%= @prax.title %> </div>
            <div class="nazov"> Spoločnosť: </div> 
            <div class=prx_name> <%= @prax.company %> </div>
            <div class="nazov"> Odvetvie Spoločnosti: </div> 
            <div class="prx_txt"><%= @prax.company_text %> </div>
        </div>
        <div class="col-xs-8">
            <div class="nazov"> Náplň práce: </div>
            <div class="prx_txt"><%= simple_format(@prax.description) %> </div>
            <div class="nazov"> Dosiahnuté uspechy v spoločnosti: </div>
            <div class="prx_txt"><%= simple_format(@prax.positiv) %> </div>
        </div>
    </div>

<div class="praxos">
        <%= link_to "Ukáž všetky", praxes_path, class: "btn btn-lg btn-success" %>
        <% if logged_in? && current_user.admin? %>
            <%= link_to "Upraviť", edit_prax_path(@prax), class: "btn btn-lg btn-primary" %>
            <%= link_to "Mazať", prax_path(@prax), method: :delete,
                data: {confirm: "Are you sure?"},
                class: "btn btn-lg btn-danger" %>
        <% end %>
        <!--<h4 align="center"> <%= link_to "Spať na zamestnania", praxes_path %> </h4>-->
    </div>    
</div>
